@layout('template')

@section('content')
<div class="box-content">
    <div class="alert alert-warning" role="alert">
        <h4>Selamat Datang, {{ session_nama }}</h4> 
        Sistem ini masih dalam tahap pengembangan. Silahkan akses fitur-fitur yang ada lewat menu di atas.
    </div>
</div>
@endsection
