@layout('template')

@section('content')
<div class="box-content text-center">
    <div class="alert alert-warning" role="alert">
        Mohon Do'a nya, halaman masih dalam pengembangan, silahkan mencoba menu yang lain
    </div>
</div>
@endsection
