.html {
  margin-bottom: 50px;
  height: 100%;
  overflow: auto;
}
.header-title{
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-title h4{
  color: #1967d2;
}

.navbar{
  border-bottom: 1px solid #ebebeb;
}
.project-tab {
  padding: 10%;
  margin-top: -8%;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #0062cc;
  font-size: 16px;
  font-weight: 600;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
.menu:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    width: 100%;
    opacity: 1;
}
.anchor-time{
  color:#ADB2BB;
  font-size:1.2rem;
  margin-bottom: 20px;
}
.notify{
  z-index: 1090;
}

.btn-01 {
  border: none;
  background: #d80d52;
  padding: 10px;
  color: #FFFFFF;
  margin-top: 25px;
  box-shadow: 0 2px 10px -3px #e91e63;
  display: block;
  margin: 40px auto 10px auto;
}

:root {
  --breadcrumb-theme-1: #004085;
  --breadcrumb-theme-2: #fff;
  --breadcrumb-theme-3: #d80d52;
  --breadcrumb-theme-4: #c70041;
}
.breadcrumbs {
  /* margin-top: 40px; */
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
}
.breadcrumb__step {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  padding: 0 10px 0 60px;
  position: relative;
  background: var(--breadcrumb-theme-2);
  color: black;
  transition: background 0.5s;
}
.breadcrumb__step:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}
.breadcrumb__step:first-child::before {
  left: 14px;
}
.breadcrumb__step:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}
.breadcrumb__step:last-child::after {
  content: none;
}
.breadcrumb__step::before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: bold;
  background: var(--breadcrumb-theme-2);
  box-shadow: 0 0 0 1px var(--breadcrumb-theme-1);
}
.breadcrumb__step::after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  border-radius: 0 5px 0 50px;
  background: var(--breadcrumb-theme-2);
  transition: background 0.5s;
  box-shadow: 2px -2px 0 0 var(--breadcrumb-theme-4);
}
.breadcrumb__step--active {
  color: var(--breadcrumb-theme-2);
  background: var(--breadcrumb-theme-1);
}
.breadcrumb__step--active::before {
  color: var(--breadcrumb-theme-1);
}
.breadcrumb__step--active::after {
  background: var(--breadcrumb-theme-1);
}
.breadcrumb__step:hover {
  color: black;
  text-decoration: none;
}
.breadcrumb__step--active:hover {
  color: white;
}
.box-border:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  opacity: 1;
}